@import 'tailwindcss';

@theme {
    --color-main-bg: #f5f9f6;
    --color-primary-link: #0A9212;
    --color-title: #012000;

    --animate-dialog: dialog-opacity 0.3s ease-in-out;

    @keyframes dialog-opacity {
        0% {
            opacity: 0;
            transform: translateY(-10%)
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}